/* IMPORTS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* UNIVERSAL SELECTOR & BODY */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
}

img {
  width: 80%;
  border: 2px solid #192168;
}

button {
  margin-right: 700px;
}

/* FLEX CLASSES */

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

/* SECTION CLASSES */

/* HERO */

.hero {
  width: 100%;
  color: white;
  background-color: #af1e2d;
}

.left-right {
  padding: 80px;
}

.hero-left {
  width: 49%;
  text-align: center;
  padding: 100px;
}

.hero a {
  color: white;
  text-decoration: none;
}

.hero a:hover {
  color: #af1e2d;
  font-size: 20px;
}

.hero-left h1 {
  text-align: start;
  font-size: 50px;
  max-width: 500px;
}

.hero-left p {
  text-align: start;
  max-width: 450px;
  font-size: 15px;
  padding-top: 15px;
}

.hero-right {
  width: 49%;
  padding-right: 100px;
}

.hero-right p {
  margin-top: 15px;
}

/* INFORMATION */

.information {
  color: white;
  background-color: #192168;
}

.information h2 {
  text-align: center;
  font-size: 50px;
  letter-spacing: 20px;
}

.info-pics img {
  width: 250px;
  height: 200px;
  text-align: center;
  border: 2px solid white;
}

.info-pics {
  text-align: center;
}

.box1 {
  margin-right: 20px;
}

.box2 {
  margin-right: 20px;
}

.box3 {
  margin-right: 20px;
}

.maintext {
  font-size: 25px;
  color: #af1e2d;
}

.subtext {
  font-size: 14px;
}

/* QUOTEBOX */

.quote-box {
  height: 290px;
  text-align: center;
  background-color: #E5E7EB;
}

#quote {
  font-size: 30px;
  width: 850px;
  margin-left: 550px;
  padding-top: 100px;
}

#author {
  margin-top: 25px;


/* ELEMENTS */

.container {
  width: 100%;
  padding: 0px;
  text-align: center;
}

.signup {
  color: white;
  background-color: #192168;
  width: 100px;
  height: 35px;
  border: 1px solid white;
  border-radius: 8px;
  margin-top: 15px;
  font-size: 16px;
}

.logo {
  margin-right: 44em;
  padding-top: 60px;
}

.logo h3 {
  font-size: 30px;
  padding-bottom: 50px;
}

.nav-bar {
  justify-content: space-around;
  background-color: #192168;
  border-bottom: 1px solid white;
  max-height: 100px;
}

.header-links {
  gap: 40px;
  padding-top: 10px;
}
