/* IMPORTS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* UNIVERSAL SELECTOR & BODY */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
}

img {
  width: 80%;
}

button {
  margin-right: 700px;
  margin-top: 10px;
}

/* FLEX CLASSES */

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

/* SECTION CLASSES */

/* HERO */

.hero {
  width: 100%;
  color: white;
  background-color: #1f2937;
}

.left-right {
  padding: 80px;
}

.hero-left {
  width: 49%;
  text-align: center;
  padding: 100px;
}

.hero a {
  color: white;
  text-decoration: none;
}

.hero-left h1 {
  text-align: start;
  font-size: 50px;
  max-width: 350px;
}

.hero-left p {
  text-align: start;
  max-width: 450px;
  font-size: 15px;
}

.hero-right {
  width: 49%;
  padding-right: 100px;
}

/* ELEMENTS */

.container {
  width: 100%;
  padding: 0px;
  text-align: center;
}


.signup {
  color: white;
  background-color: #3882f6;
  width: 100px;
  height: 30px;
  border: 0px;
  border-radius: 8px;
}

.logo {
  margin-right: 49em;
}

.logo h3 {
  font-size: 30px;
}

.nav-bar {
  justify-content: space-around;
  padding: 70px;
}

.header-links {
  gap: 20px;
}
